<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>mpolito@reactioncontrol.com</string>
	<key>contactName</key>
	<string>Matt Polito</string>
	<key>description</key>
	<string>&lt;a href="http://unspace.ca/discover/haml"&gt;HTML Abstraction Markup Language&lt;/a&gt; is a templating engine for Ruby on Rails.</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>E2E2ED2D-D059-4807-9852-124BE14EBFF5</string>
			<string>ABB69605-088B-4FAA-8DF6-CCCB3622C2AC</string>
			<string>EA43216C-FD94-4555-83DE-35CC3EEEC708</string>
			<string>9CD5ABE1-9E49-42BB-9C09-AEE74103FB53</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>ABB69605-088B-4FAA-8DF6-CCCB3622C2AC</key>
			<dict>
				<key>items</key>
				<array>
					<string>6D80E88D-7385-4A6C-BEBC-69A1D9C937AD</string>
					<string>2C6DC18D-1941-4553-8F44-E06AAF7B58A8</string>
				</array>
				<key>name</key>
				<string>Insert XML Prolog</string>
			</dict>
			<key>E2E2ED2D-D059-4807-9852-124BE14EBFF5</key>
			<dict>
				<key>items</key>
				<array>
					<string>22E3E848-CE90-401B-9DFF-9AEF23A3A692</string>
					<string>CE71AC06-DD61-484A-A2EE-8868D3C77954</string>
					<string>1647D163-E430-40A3-BADA-0D1061047EB7</string>
				</array>
				<key>name</key>
				<string>Insert DocType</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>Ruby Haml</string>
	<key>uuid</key>
	<string>4618480A-F4C3-40FE-8719-DE54CBDFB92A</string>
</dict>
</plist>
